#:schema https://json.schemastore.org/any.json

root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/main cmd/server/main.go"
entrypoint = "tmp/main"
full_bin = "APP_ENV=dev APP_USER=air ./tmp/main"
include_ext = ["go", "tpl", "gtpl", "html"]
exclude_dir = ["assets", "tmp", "vendor", "node_modules"]
include_dir = []
exclude_file = []
log = "air.log"
delay = 1000 # ms
stop_on_error = true
send_interrupt = false
kill_delay = 500 # ms

[log]
time = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true

[proxy]
  enabled = true
  proxy_port = 8181
  app_port = 8080