<!DOCTYPE html>
<html lang="en" class="bg-white dark:bg-gray-950 scheme-light dark:scheme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/js/alpine.min.js" />

    <title>
      Level
      {{ .Data.Build.Level }}
      {{ .Data.Build.AscendClassName }}
    </title>
  </head>
  <body>
    {{ .Data }}
  </body>
</html>
