<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/js/alpine.min.js" />
    <title>poeb.in</title>
  </head>
  <body
    class="antialiased text-slate-600 dark:text-slate-300 bg-slate-100 dark:bg-slate-800"
  >
    <div id="app">poeb.in</div>
  </body>
</html>
